@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Lato', sans-serif;
    background-color:white
  }

  .font-serif {
    font-family: 'Cormorant Garamond', serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
